---
import Me from "./Me.astro";
import Navbar from "./Navbar.astro";

---

<div class:list={["hero-container", "h-screen bg-[#151518]"]}>
    <div class:list={["nav", "h-[12vh]"]}>
        <Navbar />
    </div>
    <div class:list={["me", "h-[88vh]"]}>
        <Me />
    </div>
</div>