---
import MainHead from "../../layouts/MainHead.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<script>
  let cursor = document.getElementById("cursor") as HTMLElement;

  window.onmousemove = function (e) {
    cursor.style.left = e.clientX + "px";
    cursor.style.top = e.clientY + "px";
  };
</script>

<MainLayout>
  <MainHead title="" description="" />

  <div
    class:list={[
      "",
      "absolute text-4xl z-50 h-screen w-full flex justify-center items-center pointer-events-none",
    ]}
  >
    <div
      class:list={[
        "",
        "h-[90%] w-[90%] flex justify-center items-center gap-8",
      ]}
    >


      <a
        href="#"
        class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-yellow-300 via-green-400 to-teal-500"
        ></span>

        <div class="sm:flex sm:justify-between sm:gap-4">
          <div>
            <h3 class="text-lg font-bold text-white sm:text-xl">
              What?
            </h3>
          </div>

          <!-- <div class="hidden sm:block sm:shrink-0">
            <img
              alt="Paul Clapton"
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="h-16 w-16 rounded-lg object-cover shadow-sm"
            />
          </div> -->
        
        </div>

        <div class="mt-4">
          <p class="max-w-[80ch] text-sm text-gray-200">
My portfolio project will showcase my technical abilities by featuring multiple technologies and demonstrating my proficiency in various areas, such as front-end frameworks, back-end languages or frameworks, and database management systems. Additionally, the project's features will include different forms of media, like images, 3-D media and other aspects that showcase my creativity and ability to integrate multimedia elements into a web application. 
          </p>        </div>

      
      </a>

      <a
        href="#"
        class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8"
      >
      <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-teal-500 via-red-300 to-orange-500"
        ></span>

        <div class="sm:flex sm:justify-between sm:gap-4">
          <div>
            <h3 class="text-lg font-bold text-white sm:text-xl">
              Why?
            </h3>
          </div>

          <!-- <div class="hidden sm:block sm:shrink-0">
            <img
              alt="Paul Clapton"
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="h-16 w-16 rounded-lg object-cover shadow-sm"
            />
          </div> -->

        </div>

        <div class="mt-4">
          <p class="max-w-[80ch] text-sm text-gray-200">
The goal of this project is to showcase my technical skills to potential employers, clients, and peers by over-engineering the use of various technologies. I want to demonstrate my proficiency in a wide range of technologies, highlighting my creativity, problem-solving abilities, and attention to detail, which are all highly valued in the tech industry. Additionally, this project is a personal challenge that will push me to learn as much as possible.
                  </p>
        </div>

    
      </a>

      <a
        href="#"
        class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-orange-500 via-purple-400 to-pink-500"
        ></span>

        <div class="sm:flex sm:justify-between sm:gap-4">
          <div>
            <h3 class="text-lg font-bold text-white sm:text-xl">
              How?
            </h3>
          </div>

          <!-- <div class="hidden sm:block sm:shrink-0">
            <img
              alt="Paul Clapton"
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="h-16 w-16 rounded-lg object-cover shadow-sm"
            />
          </div> -->

        </div>

        <div class="mt-4">
          <p class="max-w-[80ch] text-sm text-gray-200">
To over-engineer the project and use as many technologies as possible, I need to develop a strategic plan. First, I will research the latest technologies and tools available and choose which ones to use based on their relevance to the project and my skills. Then, during the design and development phase, I can experiment with different coding techniques, frameworks, libraries, and APIs to achieve my desired outcome.
          </p>
</div>
       
      </a>
          
      
    </div>
  </div>

  <div class="parent-div">
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
        <div class="row">
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
          <div class="hexagone"></div>
        </div>
      </div>
      <div id="cursor"></div>
    </div>
  </div>
</MainLayout>

<style>
  .card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 300px;
    height: 180px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #7952b3;
    height: 260px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card:hover::before {
    transition-delay: 0.2s;

    transform: scale(40);
  }

  .card:hover {
    color: #ffffff;
  }

  .card p {
    padding: 10px 0;
  }

  /* Hex Background CSS Logic */
  .parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #151518;
  }

  .body {
    position: relative;
    background: #151518;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 80px;
  }

  .container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }

  .row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
  }
  .row:nth-child(even) {
    margin-left: 1px;
  }
  .hexagone {
    position: relative;
    width: 100px;
    height: 110px;
    background: #151518;
    margin: 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 3s;
  }

  .hexagone:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: #151518;
    z-index: 1000;
  }

  .body:hover #cursor {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #0f0;
    animation: animate 4s linear infinite;
    z-index: 1;
  }

  @keyframes animate {
    0% {
      filter: hue-rotate(0deg) blur(50px);
    }
    100% {
      filter: hue-rotate(360deg) blur(50px);
    }
  }
</style>
